{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    

    <div class="container-fluid px-3">
      <div class="row min-vh-100">
        <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
          <div class="w-100 py-5 px-md-5 px-xxl-6 position-relative">
            <div class="mb-4"><img class="img-fluid mb-4" src="img/logo-square.svg" alt="..." style="max-width: 4rem;">
              <h2>Créer un compte</h2>
              <p class="text-muted">His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table.</p>
            </div>
            <div class="form-validate">
            {{ form_start(form) }}
              <div class="mb-4">
                {{form_row(form.lastname)}}
              </div>
              <div class="mb-4">
                {{form_row(form.firstname)}}
              </div>
              <div class="mb-4">
                {{form_row(form.email)}}
              </div>
              <div class="mb-4">
                {{form_row(form.phone)}}
              </div>
              <div class="mb-4">
                {{form_widget(form.password)}}
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
              </div>
              <hr class="my-3 hr-text letter-spacing-2" data-content="OR">
              <div class="d-grid gap-2">
                <button class="btn btn btn-outline-primary btn-social"><i class="fa-2x fa-facebook-f fab btn-social-icon"> </i>Connect <span class="d-none d-sm-inline">with Facebook</span></button>
                <button class="btn btn btn-outline-muted btn-social"><i class="fa-2x fa-google fab btn-social-icon"> </i>Connect <span class="d-none d-sm-inline">with Google</span></button>
              </div>
              <hr class="my-4">
              <p class="text-sm text-muted">En créant un compte, vous acceptez les <a href="#">Termes et Conditions</a> et la<a href="#">Politique de confidentialité</a> de Villa Marrakech.</p>
            {{ form_end(form) }}
            </div>
            <a class="close-absolute me-md-5 me-xl-6 pt-5" href="index.html"> 
              <svg class="svg-icon w-3rem h-3rem">
                <use xlink:href="#close-1"> </use>
              </svg></a>
          </div>
        </div>
        <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
          <!-- Image-->
          <div class="bg-cover h-100 me-n3" style="background-image: url({{asset('front_theme/photos/john-fornander-y3_AHHrxUBY-unsplash.jpg')}});"></div>
        </div>
      </div>
    </div>
{% endblock %}
