{{ form_start(form) }}


<div class="row mb-4 mt-3">
    <div class="col-12 d-flex justify-content-between">
        {% if app.request.attributes.get('_route') == 'admin_property_edit' %}
        <h1>Modifier la propriété</h1>
        
        {% else %}
            
        <h1>Ajouter une nouvelle propriété</h1>
        {% endif %}

        <button type="submit" class="btn btn-primary btn-lg d-none d-md-block">{{ button_label|default('Enregistrer') }}</button>
    </div>
</div>

<div class="row">

    <div class="col-md-6 col-xl-6">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="account" role="tabpanel">

                <div class="card">
                    <div class="card-header">
                        
                        <h5 class="h3 mb-0">Quel nom souhaitez vous donner à votre propriété?</h5>
                    </div>
                    <div class="card-body p-5 ">
                        
                        {{ form_row(form.title) }}

                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        
                        <h5 class="h3 mb-0">De quel type de propriété s'agit il?</h5>
                    </div>
                    <div class="card-body p-5">
                        
                        {{ form_row(form.type) }}

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        
                        <h5 class="h3 mb-0">Ajouter une description complète de la propriété</h5>
                    </div>
                    <div class="card-body p-5">
                        
                        {{ form_row(form.description) }}

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        
                        <h5 class="h3 mb-0">Ajouter une brieve description de la propriété</h5>
                    </div>
                    <div class="card-body p-5">
                        
                        {{ form_row(form.shortDescription) }}

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        
                        <h5 class="h3 mb-0">Décrivez le prix à la semaine</h5>
                    </div>
                    <div class="card-body p-5">
                        
                        {{ form_row(form.price) }}

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        {% if app.request.attributes.get('_route') == 'admin_property_edit' %}
                             <h5 class="h3 mb-0">Modifier la photo principale de la propriété</h5>

                             {% else %}
                                 
                            <h5 class="h3 mb-0">Ajouter la photo principale de la propriété</h5>

                        {% endif %}
                    </div>
                    <div class="card-body p-5">

                    {% if app.request.attributes.get('_route') == 'admin_property_edit' %}

                        <div class="position-relative d-flex justify-content-center m-md-4 m-2 "style="height:400px;" >
                            
                            <img src="{{ asset(property.mainPicture)}}" style="position: absolute;
                                                                                    top: 0;
                                                                                    left: 0;
                                                                                    right: 0;
                                                                                    bottom: 0;
                                                                                    width: 100%;
                                                                                    height: 100%;
                                                                                    object-fit: cover ;" alt="">

                        </div>

                    {% endif %}
                        
                        {{ form_row(form.mainPicture) }}

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        {% if app.request.attributes.get('_route') == 'admin_property_edit' %}

                        <h5 class="h3 mb-0">Ajouter ou supprimer les photos de la propriété</h5>

                        {% else %}
                            
                        <h5 class="h3 mb-0">Ajouter d'autres photos de la propriété</h5>

                        {% endif %}
                    </div>
                    <div class="card-body p-5">
                        
                        {% if app.request.attributes.get('_route') == 'admin_property_edit' %}

                            <div class="d-flex justify-content-center flex-wrap ">
                            {% for image in property.images %}
                                
                                <div class="m-2 d-flex flex-column position-relative">
                                    <a style="position:absolute; top:3px; right:5px;" href="{{path('admin_property_delete_image', {id : image.id})}}"
                                    data-delete data-token=" {{ csrf_token('delete' ~ image.id)}} " title="Supprimer l'image"><i class="far fa-times-circle text-white h3"></i></a>
                                    <img src=" {{asset(image.title)}} " width="150px" height="150px" alt=""><br>
                                </div>


                            {% endfor %}
                            </div>

                        {% endif %}


                        {{ form_row(form.images) }}

                    </div>
                </div>
                
               
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-6">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="account" role="tabpanel">

                <div class="card">
                    <div class="card-header">
                        
                        <h5 class="h3 mb-0">Décrivez la ville et l'adresse de la propriété</h5>
                    </div>
                    <div class="card-body p-5">
                        
                        {{ form_row(form.city) }}
                        {{ form_row(form.address) }}


                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        
                        <h5 class="h3 mb-0">Combien de piéces comporte la propriété</h5>
                    </div>
                    <div class="card-body p-5">
                        
                        {{ form_row(form.rooms) }}
                        


                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        
                        <h5 class="h3 mb-0">Combien de chambres comporte la propriété</h5>
                    </div>
                    <div class="card-body p-5">
                        
                        {{ form_row(form.bedrooms) }}
                        


                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        
                        <h5 class="h3 mb-0">Combien de salles de bains comporte la propriété</h5>
                    </div>
                    <div class="card-body p-5">
                        
                        {{ form_row(form.bathrooms) }}
                        


                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        
                        <h5 class="h3 mb-0">Quelle surface habitable fait la propriété en m2</h5>
                    </div>
                    <div class="card-body p-5">
                        
                        {{ form_row(form.surface) }}
                        


                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        
                        <h5 class="h3 mb-0">Combien de personnes peut acceuillir la propriété</h5>
                    </div>
                    <div class="card-body p-5">
                        
                        {{ form_row(form.guests) }}
                        


                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        
                        <h5 class="h3 mb-0">Définir la couleur pour l'agenda </h5>
                    </div>
                    <div class="card-body p-5">
                        
                        {{ form_row(form.bgColorCalendar) }}
                        
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        
                        <h5 class="h3 mb-0">Définir les coordonnées GPS de la propriété </h5>
                    </div>
                    <div class="card-body p-5">
                        
                        {{ form_row(form.latitude) }}
                        {{ form_row(form.longitude) }}
                        
                    </div>
                </div>


               
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary btn-lg d-block d-md-none">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}