{% extends 'base.html.twig' %}

{% block title %}Property index{% endblock %}

{% block body %}
    <h1>Property index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>ShortDescription</th>
                <th>MainPicture</th>
                <th>Surface</th>
                <th>Rooms</th>
                <th>Bedrooms</th>
                <th>Bathrooms</th>
                <th>Price</th>
                <th>City</th>
                <th>Address</th>
                <th>Guests</th>
                <th>Type</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ property.id }}</td>
                <td>{{ property.title }}</td>
                <td>{{ property.description }}</td>
                <td>{{ property.shortDescription }}</td>
                <td>{{ property.mainPicture }}</td>
                <td>{{ property.surface }}</td>
                <td>{{ property.rooms }}</td>
                <td>{{ property.bedrooms }}</td>
                <td>{{ property.bathrooms }}</td>
                <td>{{ property.price }}</td>
                <td>{{ property.city }}</td>
                <td>{{ property.address }}</td>
                <td>{{ property.guests }}</td>
                <td>{{ property.type }}</td>
                <td>{{ property.createdAt ? property.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_property_show', {'id': property.id}) }}">show</a>
                    <a href="{{ path('admin_property_edit', {'id': property.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_property_new') }}">Create new</a>
{% endblock %}
