<div data-theme="default" data-layout="fluid" data-sidebar-position="right" data-sidebar-behavior="sticky">
    <div class="wrapper">
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="index.html">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20"
                        xml:space="preserve">
                        <path d="M19.4,4.1l-9-4C10.1,0,9.9,0,9.6,0.1l-9,4C0.2,4.2,0,4.6,0,5s0.2,0.8,0.6,0.9l9,4C9.7,10,9.9,10,10,10s0.3,0,0.4-0.1l9-4
              C19.8,5.8,20,5.4,20,5S19.8,4.2,19.4,4.1z" />
                        <path d="M10,15c-0.1,0-0.3,0-0.4-0.1l-9-4c-0.5-0.2-0.7-0.8-0.5-1.3c0.2-0.5,0.8-0.7,1.3-0.5l8.6,3.8l8.6-3.8c0.5-0.2,1.1,0,1.3,0.5
              c0.2,0.5,0,1.1-0.5,1.3l-9,4C10.3,15,10.1,15,10,15z" />
                        <path d="M10,20c-0.1,0-0.3,0-0.4-0.1l-9-4c-0.5-0.2-0.7-0.8-0.5-1.3c0.2-0.5,0.8-0.7,1.3-0.5l8.6,3.8l8.6-3.8c0.5-0.2,1.1,0,1.3,0.5
              c0.2,0.5,0,1.1-0.5,1.3l-9,4C10.3,20,10.1,20,10,20z" />
                    </svg>

                    <span class="align-middle me-3">Villa Maroc</span>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Biens à louer
                    </li>
                    
                   
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('admin_property_index')}}">
                            <i class="align-middle" data-feather="list"></i> <span class="align-middle">Liste des biens à louer</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Actions sur les biens à louer
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('admin_property_new')}}">
                            <i class="align-middle" data-feather="plus-circle"></i> <span class="align-middle">Ajouter un bien</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Reservation
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('list_booking')}}">
                            <i class="align-middle" data-feather="plus-circle"></i> <span class="align-middle">Liste des réservations</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('create_booking')}}">
                            <i class="align-middle" data-feather="plus-circle"></i> <span class="align-middle">Nouvelle réservation</span>
                        </a>
                    </li>
                    
                    
                    
                </ul>
            </div>
        </nav>
        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                

                <ul class="navbar-nav">
                    <li class="nav-item px-2 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Liens Rapides
                        </a>
                        <div class="dropdown-menu dropdown-menu-start dropdown-mega" aria-labelledby="servicesDropdown">
                            <div class="d-md-flex align-items-start justify-content-start">
                                <div class="dropdown-mega-list">
                                    <div class="dropdown-header">Biens à louer</div>
                                    <a class="dropdown-item" href="{{ path('admin_property_index')}}">
                                        <i class="align-middle" data-feather="list"></i> <span class="align-middle">Liste des biens à louer</span>
                                    </a>
                                    
                                </div>
                                <div class="dropdown-mega-list">
                                    <div class="dropdown-header">Action sur biens</div>
                                    <a class="dropdown-item" href="{{ path('admin_property_new')}}">
                                        <i class="align-middle" data-feather="plus-circle"></i> <span class="align-middle">Ajouter un bien</span>
                                    </a>
                                   
                                </div>
                                
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                                data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                                data-bs-toggle="dropdown">
                                <span class="text-dark">Administrateur</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href=" {{path('home')}} ">
                                    <i class="align-middle me-1"data-feather="corner-up-left"></i> 
                                        Revenir au site
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="pages-profile.html">
                                    <i class="align-middle me-1"data-feather="user-x"></i> 
                                        Me déconnecter
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="content">
                <div class="container-fluid p-0">